@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1 {
	color: white;
	font-size: 48px;
	font-weight: 100;
	font-family: "Roboto";
	font-style: normal;
	font-weight: normal;
	line-height: 56px;
	display: flex;
	margin: 0;
	padding: 0.25rem 0.25rem;
}

h2 {
	height: 36px;

	font-family: "Roboto";
	font-style: normal;
	font-weight: normal;
	font-size: xx-large;
	line-height: 42px;
	margin: 0;

	color: #512886;
}

h3 {
	color: white;
	font-size: 24px;
	font-weight: 100;
	font-family: "Roboto";
	font-style: normal;
	font-weight: normal;
	line-height: 30px;
	display: flex;
	margin: 0;
	padding: 0.4rem 0.25rem;
}

h4 {
	height: 19px;

	font-family: "Roboto";
	font-style: normal;
	font-weight: normal;
	font-size: large;
	line-height: 19px;
	color: #FFFFFF;
	padding: 0 1rem;
	margin: 0.5rem 0 0.25rem;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h5 {
	height: 14px;

	font-family: "Roboto";
	font-style: normal;
	font-weight: normal;
	font-size: large;
	line-height: 19px;
	color: #FFFFFF;
	padding: 0 1rem;
	margin: 0.5rem 0.75rem 0.25rem;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

p {
	font-family: "Roboto";
	font-style: normal;
	font-weight: normal;
	font-size: small;
	margin: 8px 0px;

	color: black;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

header {
	width: 100%;
	height: 3.5rem;
	padding-bottom: 0;
	margin-top: 0;
	text-align: left;
	background: #512886;
	position: fixed;
  	left: 0;
	top: 0;
	z-index: 2;
	color: white;
	font-size: 16px;
	
}

header.top-nav {
	width: 100%;
	height: 2rem;
	position: fixed;
  	left: 0;
	top: 3.5rem;
	text-align: left;
	background: #5F32A9;
}

footer {
	width: 100%;
	height: 1.75rem;
	position: fixed;
  	left: 0;
  	bottom: 0;
	background: black;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border-radius: 2px;
	border: 0px;
}

input {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 450; /* normal is 400 */
	height: 24px;
	width: 192px;
	background-color: white;
	color: #146C5F; /* Green */
	border-radius: 7px 0px 0px 7px;
}

::placeholder {
	font-family: "Roboto";
	font-style: normal;
	font-weight: normal;
	color: #146C5F;
	opacity: 80%;
  }

input:focus {
	outline: none !important;
}

button {
	color: #146C5F; /* Green */
	background-color: white;
	outline: none;
	font-family: "Roboto";
	font-style: normal;
	font-weight: normal;
	border-radius: 0px 7px 7px 0px;
	border-left: 2px solid #146C5F;
}

button.unclicked {
	background-color: white !important; /* !important to override the filterButton settings */
	color: #146C5F !important; /* Green */
	border: 2px solid #146C5F !important; /* Green */
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

button.filterSatData, button.filterSituData, button.filterActiveStat, button.filterInactiveStat  {
	background-color: #146C5F; /* Green */
	color: white; 
	border: 2px solid white; /* Green */
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 9px;
	height: 24px;
	width: 158px;
}

button.unclicked {
	background-color: white;
	color: #146C5F; /* Green */
	border: 2px solid #146C5F; /* Green */
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button:hover {
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button.filterButton:hover {
	box-shadow: inset 0px 6px 6px rgba(0, 0, 0, 0.25) !important;
}

button.unclicked:hover {
	box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.25) !important;
}


.outerBorder {
	height: 24px;
	padding: 2px;
	border-radius: 9px;
	background-color: #146C5F; /* Green */
	border: 2px solid white;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.collapsed {
	display: none !important;
}

.mapboxgl-popup-content {
	background: #683c8c;
	border-radius: 18px;
  }

  .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip, .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,  .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
	border-top-color: #683c8c;
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
	border-left-color: #683c8c;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
	border-right-color: #683c8c;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip, .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip  {
	border-bottom-color: #683c8c;
}

.notcurrentview {
	display: none !important;
}

.mapview {
	font-family: "Roboto";
}

.stationview {
	font-family: "Roboto";
}

.dataview {
	font-family: "Roboto";
}

.collapsedview {
	font-family: "Roboto";
}

.expandedview {
	font-family: "Roboto";
}
